services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017" # Cho phép Windows bên ngoài kết nối vào qua cổng 27018
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - MONGO_URL=mongodb://mongodb:27017 # Dùng tên service để kết nối nội bộ
      - R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - DATA_FOLDER_PREFIX=${DATA_FOLDER_PREFIX}
    depends_on:
      - mongodb
    networks:
      - app-network
    command: uvicorn docker_entry:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - VITE_API_BASE=http://localhost:8000/api
    networks:
      - app-network
    command: npm run dev -- --host

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data: # Dữ liệu sẽ được lưu ở đây, cực kỳ an toàn